body {
  background-color: #9AAB89;
  font-family: 'Raleway', sans-serif;
}

.logo{
  opacity: 0.37;
}

img{
    border-radius: 5%;
    padding: 10px;
}
.navy{
  background-color: white;
  font-size: 15px;
}

.navbrand{
  color: black;
  font-size: 25px;
  font-weight: bold;
  text-align: left;
}
.imgsl{
  height: 200px;
  width: 500px;
}
.slides{
  align-content: center;
  border-radius: 0.01%;
  height: 400px;
  opacity: 0.5;
  width: 95%;
}

.slidetxt{
  color: black;
}

.center-row{
  left: 50%;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
}

h1 {

  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 150px;
  font-weight: bold;
  text-align: center;
}

h2 {
  color: #E5F7D2;
  font-family: 'Raleway', sans-serif;
  font-size: 45px;
  font-weight: bolder;
  padding: 40px;
  text-align: center;
}

.life{
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
}

p{
  color: white;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  padding: 15px;

}

.slogan{
  background-color: black;
  color: black;
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
}


.quote1Txt{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.quote2Txt{
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}

.gallery{
  height: 390px;
  width: inherit;
}
